*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://wallpapercave.com/wp/wp7064210.jpg");
    
}
.column {
    width: 30%;
    float: left;
    padding: 0px 10px;
}
.secondary {
    width: 30%;
    float: left;
    padding: 0px 10px;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}
@media screen and(max-width:600px){
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;

    transition: 0.5s ease;
    cursor: pointer;
}

.title {
    color: gray;
    font-size: 18px;

}
button {
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
a:hover,button:hover {
    color: red;
    opacity: 0.6;
    align-items: bottom;
}
.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0,0,0.6);
}